.picture{ 
    margin: 5px;
    float: right;
    width: 180px;
}
h1,h2,h3,h4,h5,h6{
  color: rgb(51, 16, 83);
}
.pcv{
  color: rgb(75, 33, 33);
  font:400;
  size: 100cm;
}
.pna{
    color:rgb(29, 86, 29);
    font:200;
    size: 50cm;
}

ul{
    list-style: square;
}
ol{
    list-style: upper-roman;
}
li{
    list-style: lower-roman;
}
a{
    text-decoration: none;
}
a:hover{
     color: green;
     text-decoration: underline;
}
a:active{
    color: black;
    text-decoration: underline;
}
a:visited{
    color:blue;
    text-decoration: none;
}

a:link{
   color: red;
}

